@inject Data.TranslationService _ts
@inject IJSRuntime _js

<MudDialog>
    <DialogContent>
        <MudStack>
            <MudTextField Label="@_ts.I18n.Name" HelperText="@_ts.I18n.EnterNameToSaveSignature" @bind-Value="_name" />
            <MudFileUpload T="IBrowserFile" Accept=".png" FilesChanged="UploadFiles">
                <ActivatorContent>
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.CloudUpload" FullWidth="true">
                        @_ts.I18n.LoadFromFile
                    </MudButton>
                </ActivatorContent>
            </MudFileUpload>

            @if (_signaturs.Count > 0)
            {
                <div style="display: grid; grid-template-columns: 40px 1fr 40px; grid-auto-rows: 40px;">
                    @for (int i = 0; i < _signaturs.Count; i++)
                    {
                        var item = _signaturs[i];
                        <MudIconButton OnClick="_ => DownloadSignature(i)" Icon="@Icons.Material.Filled.CloudDownload" aria-label="@_ts.I18n.Save" Variant="Variant.Outlined" Color="Color.Primary" />
                        <MudButton OnClick="_ => ListSelected(i)" Variant="Variant.Filled" Color="Color.Primary">@item.Name</MudButton>
                        <MudIconButton OnClick="_ => DeleteSignature(i)" Icon="@Icons.Material.Filled.Delete" aria-label="@_ts.I18n.Delete" Variant="Variant.Outlined" Color="Color.Warning" />
                    }
                </div>
            }

            <MudDivider />

            <MudStack Row="true">
                <MudChipSet @bind-SelectedValue="_penColor">
                    @foreach (var item in _pens)
                    {
                        <MudChip Style="@($"background-color: {@item}")" Value="@item"><span style="color: @item;">C</span></MudChip>
                    }
                </MudChipSet>
                <MudSpacer />
                <MudIconButton OnClick="Clear" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Warning" aria-label="@_ts.I18n.Delete" />
            </MudStack>

            <div style="width: 400px; height: 200px; border: 1px solid var(--mud-palette-primary);" @onpointerdown="OnStart" @onpointermove="OnMove" @onpointerup="OnEnd">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="@signaturePadId" width="400" height="200" stroke="@_penColor" stroke-width="@_penWidth" stroke-linecap="round" fill="none">
                    @foreach (var item in _paths)
                    {
                        <path d="@item" />
                    }
                    @if (_path is not null)
                    {
                        <path d="@_path" />
                    }
                </svg>
            </div>
        </MudStack>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetPngFromCanvas">@_ts.I18n.Ok</MudButton>
    </DialogActions>
</MudDialog>
